<div class="father pt-5">
  <div class="text-center" *ngIf="!films">
    <p class="text-white mb-3 fs-3">Caricamento lista film</p>
    <div class="spinner-border text-danger m-auto" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex flex-column mb-4" *ngFor="let film of films">
        <div class="card rounded">
          <a [routerLink]="[film.id]" routerLinkActive="active">
            <img src="https://image.tmdb.org/t/p/w500{{film.poster_path}}" class="card-img-top" alt="poster img">
          </a>
          <div class="card-body p-1 bg-secondary text-center">
            <p class="card-title text-truncate px-2">{{film.title}}</p>
            <button type="button" class="btn"
              (click)="isFavorito(film) ? eliminaFavorito(film) : aggiungiFavorito(film.id)">
              <i class="bi bi-heart-fill" id="icon"
                [ngClass]="{'text-danger': isFavorito(film), 'text-white': !isFavorito(film)}"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
