<div class="father">
  <div class="container">
    <div class="mt-5 text-center p-5">
      <h1 class="fw-bold text-white">Welcome to Fake<span class="text-danger fw-bold">Net</span></h1>
      <h2 class="text-white fw-semibold">Film, serie TV e tanto altro</h2>
      <p class="text-white fw-semibold"> Guarda ciò che vuoi ovunque (E condividi la password con chi vuoi!)</p>
      <p class="text-white fw-semibold">Registrati per cominciare o accedi!</p>
    </div>
    <div class="text-center mb-5">
      <a [routerLink]="['/login']" routerLinkActive="active" class="btn btn-danger rounded-pill me-4">Accedi</a>
      <a [routerLink]="['/registrazione']" routerLinkActive="active" class="btn btn-danger rounded-pill">Registrati</a>
    </div>
  </div>
  <div class="banner d-flex">
    <div class="text-end me-5">
      <img
        src="../../../assets/img/lue2023popcornemojiflatstyleinwhitebackgroundultradetailed0732bd7-f55e-430e-8097-dc1319fd7ac6-pixianwaifu2x4x2npng.png"
        alt="popcorn img">
    </div>
    <div class="p-3 pt-5">
      <p class="text-white fs-4">Tutto ciò che ami di FakeNet gratuitamente</p>
      <p class="text-white">Scegli il film da guardare e preparati i popcorn!</p>
      <a href="#domande"> Scopri di più </a>
    </div>
  </div>
  <div class="banner2 d-flex justify-content-between">
    <div class="prima">
      <h3 class="text-white">Goditi Netflix sulla tua TV</h3>
      <p class="text-white">Guarda Netflix su smart TV, Playstation, Xbox, Chromecast, Apple TV, lettori Blu-ray e molti
        altri dispositivi.</p>
    </div>
    <div class="seconda d-none d-sm-none d-md-block mb-3">
      <img src="../../../assets/img/Clipboard01.jpg" alt="img tv" class="img">
    </div>
  </div>
</div>
<hr class="p-0 m-0">
<div class="banner2 d-flex justify-content-between p-3">
  <div class="seconda d-none d-sm-none d-md-block">
    <img src="../../../assets/img/Clipboard02.jpg" alt="img tv" class="img">
  </div>
  <div class="prima">
    <h3 class="text-white">Guarda Netflix ovunque Cellulare, tablet, laptop e TV: scegli tu cosa usare per guardare in
      streaming film e serie TV senza limiti.</h3>
  </div>

</div>
<hr class="p-0 m-0">
<div class="banner2 d-flex justify-content-between p-3">
  <div class="prima">
    <h3 class="text-white">Crea profili per i bambini</h3>
    <p class="text-white">I bambini scoprono nuove avventure in compagnia dei loro personaggi preferiti in uno spazio
      tutto loro già
      incluso nel tuo abbonamento.</p>
  </div>
  <div class="seconda d-none d-sm-none d-md-block">
    <img src="../../../assets/img/Clipboard03.jpg" alt="img tv" class="img">
  </div>
</div>
<hr class="p-0 m-0">
<div class="banner3 p-5" id="domande">
  <div class="accordion w-75 m-auto" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button bg-dark text-white" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          1. Cos'è FakeNet?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show bg-dark text-white"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>Un esercizio di prova che prende come esempio di base Netflix</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          2. Cosa può fare?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse bg-dark text-white" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>Funziona la registrazione, il log in e si spera in futuro il bottone dei like e la pagina utente</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          3. Quali film si trovano?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse bg-dark text-white" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>Quelli che si trovano nella lista</p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="p-0 m-0">
<div class="banner2 text-center pt-5">
  <div class="prima m-auto">
    <h3 class="text-white mb-4">Vuoi scoprire Fake<span class="text-danger">Net</span>? Allora accedi o registrati!</h3>
    <a [routerLink]="['/login']" routerLinkActive="active" class="btn btn-danger rounded-pill me-4">Accedi</a>
    <a [routerLink]="['/registrazione']" routerLinkActive="active" class="btn btn-danger rounded-pill">Registrati</a>
  </div>
</div>
<hr class="p-0 m-0">
