.rating{
  position: absolute;
  top: -12px;
  right: -11px;
  background-color: rgb(147, 192, 92);
}

.father{
  margin-top: 58px;
}

img{
  object-fit: cover;
  width: 100%;
}

a:hover{
  border: 2px solid rgb(131, 128, 128);
}

.container{
  box-shadow: 3px 3px 3px black;
}
